{% extends 'front/layout.html.twig' %}

{% block content %}
    <div class="breadcrumb-area bg-img pt-230 pb-200 default-overlay-2" style="background-image: url('../img/banner-store.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="slider-text-5 slider-animated-1">
                        <h1 class="animated">Fonctionnement <br> de L&C - MODE -</h1>
                        <h5 class="animated" style="margin-top: 35px; font-size: 25px;">L&C MODE est une façon facile de <br> vous faire livrer vos coup de coeur.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area pt-80 pb-80 gray-bg-4 container-padding-res">
        <div class="container">
            <div class="pro-col-40">
                <div class="row grid" data-show="9" data-load="3">
                    <div class="col-lg-4 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 blog-shadow mb-40">
                            <div class="blog-img hover-3">
                                <a href="#">
                                    <img src="../img/parcourir.png" alt="">
                                </a>
                            </div>
                            <div class="blog-content-2">
                                <h4><a href="#">Parcourir</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 blog-shadow mb-40">
                            <div class="blog-img hover-3">
                                <a href="#">
                                    <img src="../img/commander.png" alt="">
                                </a>
                            </div>
                            <div class="blog-content-2">
                                <h4><a href="#">Commander</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 blog-shadow mb-40">
                            <div class="blog-img hover-3">
                                <a href="#">
                                    <img src="../img/suivre.png" alt="">
                                </a>
                            </div>
                            <div class="blog-content-2">
                                <h4><a href="#">Suivre</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}