{% extends 'front/layout.html.twig' %}

{% block content %}
<div class="breadcrumb-area bg-img pt-90 pb-80" style="background-color: #f6f6f6;">
    <div class="container">
        <div class="breadcrumb-content breadcrumb-black2 text-center">
            <h2>Validation</h2>
            <ul>
                <li>
                    <a href="{{ path('home_user') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('shop') }}">Boutique</a>
                </li>
                <li class="active">Validation</li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-90 pb-90">
    <div class="container">
        <div class="parcour-paiement pb-70">
            <a href="{{ path('cart') }}"><i class="fa fa-shopping-bag parcour-paiement-icone {% if app.request.attributes.get('_route') == 'checkout' %}icone-active{% endif %}"></i></a>
            <hr class="parcour-paiement-hr {% if app.request.attributes.get('_route') == 'checkout' %}hr-active{% endif %}"/>
            <i class="fa fa-pencil parcour-paiement-icone {% if app.request.attributes.get('_route') == 'checkout' %}icone-active{% endif %}"></i>
            <hr class="parcour-paiement-hr"/>
            <i class="fa fa-credit-card parcour-paiement-icone"></i>
            <hr class="parcour-paiement-hr"/>
            <i class="fa fa-check parcour-paiement-icone"></i>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <h3>Détails de la facturation</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-25">
                                <label>Prénom</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-25">
                                <label>Nom de famille</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-25">
                                <label>Nom de la société</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-select mb-25">
                                <label>Pays</label>
                                <select>
                                    <option>Choississez un pays</option>
                                    <option>Azerbaijan</option>
                                    <option>Bahamas</option>
                                    <option>Bahrain</option>
                                    <option>Bangladesh</option>
                                    <option>Barbados</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-25">
                                <label>Adresse</label>
                                <input class="billing-address" placeholder="Numéro de rue et adresse" type="text">
                                <input placeholder="Apartement, suite, code etc." type="text">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-25">
                                <label>Ville</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-25">
                                <label>Etat / Pays</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-25">
                                <label>Code postal</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-25">
                                <label>Téléphone</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-25">
                                <label>Email</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="additional-info-wrap pt-50 pb-30">
                        <h4>Information Additionnelle</h4>
                        <div class="additional-info">
                            <label>Notes</label>
                            <textarea placeholder="Remarques sur votre commande, par exemple notes spéciales pour la livraison." name="message"></textarea>
                        </div>
                    </div>
                    <div class="checkout-account mt-25">
                        <input class="checkout-toggle" type="checkbox">
                        <span>Livrer à une adresse différente ?</span>
                    </div>
                    <div class="different-address open-toggle mt-30">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-25">
                                    <label>Prènom</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-25">
                                    <label>Nom de famille</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-25">
                                    <label>Nom de la compagnie</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-select mb-25">
                                    <label>Pays</label>
                                    <select>
                                        <option>Choississez un pays</option>
                                        <option>Azerbaijan</option>
                                        <option>Bahamas</option>
                                        <option>Bahrain</option>
                                        <option>Bangladesh</option>
                                        <option>Barbados</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-25">
                                    <label>Adresse</label>
                                    <input class="billing-address" placeholder="Numéro de rue et adresse" type="text">
                                    <input placeholder="Apartement, suite, code etc." type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-25">
                                    <label>Ville</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-25">
                                    <label>Etat / Pays</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-25">
                                    <label>Code postal</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-25">
                                    <label>Téléphone</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-25">
                                    <label>Email</label>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>Votre commande</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>Produit</li>
                                    <li>Total</li>
                                </ul>
                            </div>
                            <div class="your-order-middle">
                                <ul>
                                    <li><span class="order-middle-left"><span class="order-name">Product Name</span>  X  1</span> <span class="order-price">$329 </span></li>
                                    <li><span class="order-middle-left"><span class="order-name">Product Name</span>  X  1</span> <span class="order-price">$329 </span></li>
                                </ul>
                            </div>
                            <div class="your-order-bottom">
                                <ul>
                                    <li class="your-order-shipping">Livraison</li>
                                    <li>Livraison gratuite</li>
                                </ul>
                            </div>
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li>$329</li>
                                </ul>
                            </div>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion element-mrg">
                                <div class="panel-group" id="payment-method">
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-one">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#payment-method" href="#method1">
                                                    Virement bancaire
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method1" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <p>Veuillez envoyer un chèque à Nom du magasin, Rue du magasin, Ville du magasin, État / comté du magasin, Code postal du magasin.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#payment-method" href="#method2">
                                                    Vérifier le paiement
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Veuillez envoyer un chèque à Nom du magasin, Rue du magasin, Ville du magasin, État / comté du magasin, Code postal du magasin.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-three">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#payment-method" href="#method3">
                                                    Paiement à la livraison
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Veuillez envoyer un chèque à Nom du magasin, Rue du magasin, Ville du magasin, État / comté du magasin, Code postal du magasin.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Place-order mt-25">
                        <a class="btn-hover" href="{{ path('stripe') }}">Passer la commande</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
