{% extends 'front/layout.html.twig' %}

{% block content %}


    <style>
        .StripeElement {
            box-sizing: border-box;

            height: 40px;

            padding: 10px 12px;

            border: 1px solid #e6e6e6;
            /*border-radius: 3px;*/
            background-color: white;
            padding-left: 20px;
            padding-right: 10px;

            /*box-shadow: 0 1px 3px 0 #e6ebf1;*/
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        /*.StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }*/

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

        *, label {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16px;
            font-variant: normal;
            padding: 0;
            margin: 0;
            -webkit-font-smoothing: antialiased;
        }

        form {
            padding: 30px;
            height: 120px;
        }

        label {
            font-weight: 500;
            font-size: 14px;
            display: block;
            margin-bottom: 8px;
        }
    </style>

    <div class="breadcrumb-area bg-img pt-90 pb-80" style="background-color: #f6f6f6;">
        <div class="container">
            <div class="breadcrumb-content breadcrumb-black2 text-center">
                <h2>Paiement</h2>
                <ul>
                    <li>
                        <a href="{{ path('home_user') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('shop') }}">Boutique</a>
                    </li>
                    <li class="active">Paiement</li>
                </ul>
            </div>
        </div>
    </div>
<div class="checkout-area pt-90 pb-90">
    <div class="container">
        <div class="parcour-paiement pb-70">
            <a href="{{ path('cart') }}"><i class="fa fa-shopping-bag parcour-paiement-icone {% if app.request.attributes.get('_route') == 'stripe' %}icone-active{% endif %}"></i></a>
            <hr class="parcour-paiement-hr {% if app.request.attributes.get('_route') == 'stripe' %}hr-active{% endif %}"/>
            <a href="{{ path('checkout') }}" ><i class="fa fa-pencil parcour-paiement-icone {% if app.request.attributes.get('_route') == 'stripe' %}icone-active{% endif %}"></i></a>
            <hr class="parcour-paiement-hr {% if app.request.attributes.get('_route') == 'stripe' %}hr-active{% endif %}"/>
            <i class="fa fa-credit-card parcour-paiement-icone {% if app.request.attributes.get('_route') == 'stripe' %}icone-active{% endif %}"></i>
            <hr class="parcour-paiement-hr"/>
            <i class="fa fa-check parcour-paiement-icone"></i>
        </div>

        <form method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element billing-info">
                    Credit or debit card
                </label>
                <div id="card-element" class="" style="width: 60% !important;">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button class="text-uppercase" style="background-color: #4e194b; color: white; border: none; padding: 18px 20px; font-weight: 500; letter-spacing: 1; width: 10%">Payer</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var stripe = Stripe('pk_test_Q4aYpRIDwBMRWrpzmg3oW7j3');
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#333'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}
