<footer class="footer-area pt-120 pb-90 footer-hm4" style="background-image: url('../img/bg-1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30">
                    <h3 style="text-align: center;margin-bottom: 70px; color: white;">L & C <br> - MODE - </h3>
                    <div class="footer-social2" style="text-align: center;">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer-widget mb-30">
                    <div class="footer-title footer-title-white mb-20">
                        <h4>Liens utiles</h4>
                    </div>
                    <div class="useful-links">
                        <ul>
                            <li><a href="{{ path('aboutus') }}"><i class="fa fa-angle-right"></i> A propos</a></li>
                            <li><a href="{{ path('contact') }}"><i class="fa fa-angle-right"></i> Contact</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Featured Works</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Recent Posts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget mb-30">
                    <div class="footer-title footer-title-white mb-20">
                        <h4>Contact</h4>
                    </div>
                    <div class="footer-contact2">
                        <p>11 Rue Mogador, 75009 Paris</p>
                        <p>+33 6 10 51 86 32</p>
                        <p><a href="#">lc.modeparis@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget mb-30">
                    <div class="copyright copyright-hm4">
                        <p style="color: white;">Copyright © L&C - Mode.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>