{% extends 'front/layout.html.twig' %}

{% block content %}
    <!-- header start -->
    <div class="slider-area">
        <div class="slider-active-4 owl-carousel">
            <div class="single-slider bg-img slider-height-1 d-flex align-items-center default-overlay-2" style="background-image: url('../img/shopping-slide-1.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="slider-text-5 slider-animated-1">
                                <h5 class="animated">Paris, Boulevard Haussman</h5>
                                <h1 class="animated">Zara</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider bg-img pt-50 slider-height-1 d-flex align-items-center default-overlay-2" style="background-image: url('../img/shopping-slide-2.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="slider-text-5 slider-animated-1">
                                <h5 class="animated">Paris, Champs Elysées</h5>
                                <h1 class="animated">Victorio</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter counter-style-3"></div>
    </div>
    <div class="home4-wrapper">
        <div class="project-area pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="project-wrap mb-80 zoom-hover">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <div class="project-content">
                                        <h2>Commandez les vêtements que vous aimez auprès des boutiques de votre ville et de vos chaînes préférées.</h2>
                                        <span>L&C - Mode</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <div class="project-img">
                                        <a href="#"><img src="../img/appli_1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="project-wrap mb-80 zoom-hover">
                            <div class="row d-flex align-items-center flex-row-reverse">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <div class="project-content">
                                        <h2>En quelques clics, passez votre commande et payez avec votre compte L&C Mode.</h2>
                                        <span>L&C - Mode</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <div class="project-img">
                                        <a href="#"><img src="../img/appli_1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="project-wrap mb-80 zoom-hover">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <div class="project-content">
                                        <h2>Suivez la progression de vos commandes en temps réel, depuis la boutique jusqu'à votre porte.</h2>
                                        <span>L&C - Mode</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-6">
                                    <div class="project-img">
                                        <a href="#"><img src="../img/appli_1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="funfact-area bg-img pt-165 pb-175 funfact-res" style="background-color: #4e194b;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="counter-title">
                            <h3>Déployé dans toute la France, donc plus de 3000 villes</h3>
                        </div>
                        <div class="counter-wrap">
                            <div class="single-count2 count2-mrg1">
                                <h2 class="count">137</h2>
                                <span>Abonnés</span>
                            </div>
                            <div class="single-count2 count2-mrg2">
                                <h2 class="count">516</h2>
                                <span>Boutiques <br> Partenaires</span>
                            </div>
                            <div class="single-count2 count2-mrg3">
                                <h2 class="count">84</h2>
                                <span>Clients</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-count3 f-right">
                            <div class="single-count3-style">
                                <div class="count3-icon">
                                    <a href="#"><i class="la la-arrow-right"></i></a>
                                </div>
                                <div class="single-count3-content">
                                    <h2 class="count">98</h2>
                                    <span>Ventes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-area pt-115 pb-110">
            <div class="container">
                <div class="section-title-3 mb-40">
                    <span>Témoignages</span>
                    <h2>Les clients disent </h2>
                </div>
                <div class="testimonial-active-3 owl-carousel">
                    <div class="sin-testimonial3">
                        <div class="client3-content">
                            <p>“Vestibulum ante ipsum prim aucibus orci luctustrices
                                posuere cubilia Curae Suspen disse viverra ed viverra. Mauris ullamcorper euismod vehicula nunc purus.”</p>
                        </div>
                        <div class="client3-info">
                            <img alt="" src="../img/client-3.png">
                            <h5>Anet Growswood</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                    <div class="sin-testimonial3">
                        <div class="client3-content">
                            <p>“Vestibulum ante ipsum prim aucibus orci luctustrices
                                posuere cubilia Curae Suspen disse viverra ed viverra. Mauris ullamcorper euismod vehicula nunc purus.”</p>
                        </div>
                        <div class="client3-info">
                            <img alt="" src="../img/client-4.png">
                            <h5>Kevin Smith</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                    <div class="sin-testimonial3">
                        <div class="client3-content">
                            <p>“Vestibulum ante ipsum prim aucibus orci luctustrices
                                posuere cubilia Curae Suspen disse viverra ed viverra. Mauris ullamcorper euismod vehicula nunc purus.”</p>
                        </div>
                        <div class="client3-info">
                            <img alt="" src="../img/client-5.png">
                            <h5>John Snow</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-area section-padding-1 gray-bg-4 pt-90 pb-90">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-service-wrap service-wrap-2 mb-30 text-center">
                            <div class="single-service service-style-2">
                                <i class="ti-desktop"></i>
                                <h4>Livraison de vos vêtements à domicile</h4>
                                <p style="margin-bottom: 30px;">Collaborez avec L&C Mode et découvrez un nouveau moyen d'augmenter vos revenus, de contacter de nouvelles boutiques et de livrer des vêtements à vos clients.</p>
                                <a href="#">Commencer <i class="fa fa-angle-right" style="font-size: 15px;margin-left: 5px;padding-top: 15px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-service-wrap service-wrap-2 mb-30 text-center">
                            <div class="single-service service-style-2">
                                <i class="ti-settings"></i>
                                <h4>Livrez avec L&C Mode</h4>
                                <p style="margin-bottom: 30px;">Livrez avec L&C Mode et augmentez vos revenus quand vous le souhaitez. Selon la ville où vous vous trouvez, vous pouvez livrer en voiture, à vélo ou en scooter.</p>
                                <a href="#">Commencer <i class="fa fa-angle-right" style="font-size: 15px;margin-left: 5px;padding-top: 15px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="brand-logo-area pb-50 pt-50" >
            <div class="container">
                <div class="section-title-3 mb-40" style="text-align: center;">
                    <span>Nos Boutiques partenaires</span>
                </div>
                <div class="brand-logo-pattern">
                    <div class="brand-logo-active owl-carousel">
                        <div class="single-brand-logo">
                            <img src="../img/logo/logo_h&m.png" alt="" class="img-logo-brand">
                        </div>
                        <div class="single-brand-logo">
                            <img src="../img/logo/logo_desigual.jpg" alt="" class="img-logo-brand">
                        </div>
                        <div class="single-brand-logo">
                            <img src="../img/logo/logo_zara.png" alt="" class="img-logo-brand">
                        </div>
                        <div class="single-brand-logo">
                            <img src="../img/logo/logo_levis.png" alt="" class="img-logo-brand">
                        </div>
                        <div class="single-brand-logo">
                            <img src="../img/logo/logo_selected.png" alt="" class="img-logo-brand">
                        </div>
                        <div class="single-brand-logo">
                            <img src="../img/logo/logo_celio.png" alt="" class="img-logo-brand">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
