<nav class="navbar">
  <div style="display:flex; align-items: center; justify-content: space-between;">
    <img src="../img/logo_lc_mode.png" style="width:10%; height:10%;">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Delivered to" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="btn btn-connexion">Connexion</button>
  </div>
</nav>