<nav class="navbar fixed-top navbar-light bg-light">
  <img src="../img/logo_lc_mode.png" style="width:6%; height:6%;">
  <form class="col-md-7 offset-md-2" style="display:inline-flex;">
    <input class="form-control mr-sm-2" style="width:45%;" type="search" placeholder="Saisissez votre adresse de livraison" aria-label="Search">
    <button class="btn btn-valid-green" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Voir nos boutiques</button>
  </form>
  <button class="btn btn-connexion"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</button>
</nav>