{% extends 'front/layout.html.twig' %}

{% block content %}
    <div class="breadcrumb-area bg-img pt-90 pb-80" style="background-color: #f6f6f6;">
        <div class="container">
            <div class="breadcrumb-content breadcrumb-black2 text-center">
                <h2>Mon compte</h2>
                <ul>
                    <li>
                        <a href="{{ path('home-user') }}">Accueil</a>
                    </li>
                    <li class="active">Mon compte</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portfolio-area pt-75 pb-80 container-padding-res">
        <div class="container">
            <div class="center-menu-profile portfolio-menu-active portfolio-menu-1 pro-menu-btn text-center mb-50">
                <ul class="nav center-menu-profile" id="menu-profile">
                    <li class="btn-menu-profile"><a class="active" data-toggle="tab" href="#tab-1"> Mon profil </a></li>
                    <li class="btn-menu-profile"><a data-toggle="tab" href="#tab-2"> Mes commandes </a></li>
                    <li class="btn-menu-profile"><a data-toggle="tab" href="#tab-3"> Mes adresses </a></li>
                    <li class="btn-menu-profile"><a data-toggle="tab" href="#tab-4"> Liste d'envie </a></li>
                    <li class="btn-menu-profile"><a data-toggle="tab" href="#tab-5"> Service client </a></li>
                </ul>
                <div class="tab-content pt-50 pb-80">
                    <div id="tab-1" class="tab-pane active">

                        <div class="dropcap-title text-center mb-30">
                            <h2>Mon profil</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="single-portfolio-wrap single-port-style5 mr-20"
                                     style="text-align: left;">
                                    <div class="portfolio-decription-wrap">
                                        <div class="portfolio-client-info">
                                            <div class="single-client-info">
                                                <div class="client-info-title">
                                                    <span>Nom </span>
                                                </div>
                                                <div class="client-info-dec">
                                                    <p>Smith</p>
                                                </div>
                                            </div>
                                            <div class="single-client-info">
                                                <div class="client-info-title">
                                                    <span>Prénom </span>
                                                </div>
                                                <div class="client-info-dec">
                                                    <p>Lola</p>
                                                </div>
                                            </div>
                                            <div class="single-client-info">
                                                <div class="client-info-title">
                                                    <span>Email </span>
                                                </div>
                                                <div class="client-info-dec">
                                                    <p>lola@gmail.fr</p>
                                                </div>
                                            </div>
                                            <div class="single-client-info">
                                                <div class="client-info-title">
                                                    <span>Anniversaire </span>
                                                </div>
                                                <div class="client-info-dec">
                                                    <p>28/12/1993</p>
                                                </div>
                                            </div>
                                            <div class="single-client-info">
                                                <div class="client-info-title">
                                                    <span>Genre </span>
                                                </div>
                                                <div class="client-info-dec">
                                                    <p>Femme</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="shop-wrap mb-35">
                                    <div class="shop-img">
                                        <img src="../img/avatar-F.png" width="200">
                                        <div class="shop-hover">
                                            <div class="shop-card">
                                                <a href="#" title="changer de photo">Changer de photo</a>
                                            </div>
                                            <div class="shop-wishlist">
                                                <a title="Wishlist" href="#"><i class="ti-camera"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <div class="dropcap-title text-center mb-30">
                                    <h2>Mes commandes</h2>
                                </div>
                                <table class="table table-bordered footable" data-filter="#filter" data-paging="true">
                                    <thead>
                                    <tr>
                                        <th data-sort-ignore="true">Numéro de commande</th>
                                        <th data-sort-ignore="true">Articles</th>
                                        <th data-sort-ignore="true">Date</th>
                                        <th data-sort-ignore="true">Total</th>
                                        <th data-sort-ignore="true">Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            765432GTRE7
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <img src="../img/product/product.jpg" alt="" width="70px" height="50px">
                                        </td>
                                        <td>
                                            29/04/2018
                                        </td>
                                        <td>
                                            87€
                                        </td>
                                        <td>
                                            Livré
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            098LKILPO198
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <img src="../img/product/product.jpg" alt="" width="70px" height="50px">
                                        </td>
                                        <td>
                                            13/11/2018
                                        </td>
                                        <td>
                                            104€
                                        </td>
                                        <td>
                                            Expédié
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="dropcap-title text-center mb-30">
                            <h2>Carnet d'adresses</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blockquote-style-wrap">
                                    <blockquote class="blockquote-style2 text-center">
                                        <img alt="" src="../img/carnet-adresse.png" height="30px">
                                        <div class="single-client-info" style="text-align: left;">
                                            <div class="dropcap-title text-center mb-30">
                                                <p style="width: 100%;">Mon adresse Bureau <em style="font-size: 11px;">( Adresse par défaut )</em></p>
                                            </div>
                                            <div class="client-info-title">
                                                <span>Nom </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>Lesaint Amandine</p>
                                            </div>
                                        </div>
                                        <div class="single-client-info" style="text-align: left;">
                                            <div class="client-info-title">
                                                <span>Téléphone </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>+33 6 76 43 52 89</p>
                                            </div>
                                        </div>
                                        <div class="single-client-info" style="text-align: left;">
                                            <div class="client-info-title">
                                                <span>Email </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>test@gmail.fr</p>
                                            </div>
                                        </div>
                                        <div class="single-client-info pb-20" style="text-align: left;">
                                            <div class="client-info-title">
                                                <span>Adresse </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>5 rue de Tilier, 75009 Paris</p>
                                                <p>1 er étage à gauche, <em>code : 3498B</em></p>
                                            </div>
                                        </div>
                                        <a href="#" class="supprimer-adress">Supprimer</a>
                                        <a href="#" class="modifier-adress">Modifier</a>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blockquote-style-wrap">
                                    <blockquote class="blockquote-style2 text-center">
                                        <img alt="" src="../img/carnet-adresse.png" height="30px">
                                        <div class="single-client-info" style="text-align: left;">
                                            <div class="dropcap-title text-center mb-30">
                                                <p style="width: 100%;">Mon adresse Perso</p>
                                            </div>
                                            <div class="client-info-title">
                                                <span>Nom </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>Lesaint Amandine</p>
                                            </div>
                                        </div>
                                        <div class="single-client-info" style="text-align: left;">
                                            <div class="client-info-title">
                                                <span>Téléphone </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>+33 6 76 43 52 89</p>
                                            </div>
                                        </div>
                                        <div class="single-client-info" style="text-align: left;">
                                            <div class="client-info-title">
                                                <span>Email </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>test@gmail.fr</p>
                                            </div>
                                        </div>
                                        <div class="single-client-info pb-20" style="text-align: left;">
                                            <div class="client-info-title">
                                                <span>Adresse </span>
                                            </div>
                                            <div class="client-info-dec">
                                                <p>5 rue des poissonier, 95160 Cergy</p>
                                                <p>6 eme étage, porte de droite, <em>code : 9743</em></p>
                                            </div>
                                        </div>
                                        <a href="#" class="supprimer-adress">Supprimer</a>
                                        <a href="#" class="modifier-adress">Modifier</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="full-height-scroll">
                            <div class="">
                                <div class="dropcap-title text-center mb-30">
                                    <h2>Ma liste d'envie</h2>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="shop-wrap mb-35">
                                            <div class="shop-img">
                                                <a href="#">
                                                    <img src="../img/product/product.jpg" alt="">
                                                </a>
                                                <div class="shop-hover">
                                                    <div class="shop-card">
                                                        <a href="#" title="Add To Cart">Ajouter au panier <i
                                                                    class="ti-shopping-cart"></i></a>
                                                    </div>
                                                    <div class="shop-wishlist">
                                                        <a title="Wishlist" href="#"><i class="ti-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-content">
                                                <div class="shop-name">
                                                    <h4><a href="#">Product Name</a></h4>
                                                </div>
                                                <div class="shop-price">
                                                    <span>$329</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="shop-wrap mb-35">
                                            <div class="shop-img">
                                                <a href="#">
                                                    <img src="../img/product/product.jpg" alt="">
                                                </a>
                                                <div class="shop-hover">
                                                    <div class="shop-card">
                                                        <a href="#" title="Add To Cart">Ajouter au panier <i
                                                                    class="ti-shopping-cart"></i></a>
                                                    </div>
                                                    <div class="shop-wishlist">
                                                        <a title="Wishlist" href="#"><i class="ti-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-content">
                                                <div class="shop-name">
                                                    <h4><a href="#">Product Name</a></h4>
                                                </div>
                                                <div class="shop-price">
                                                    <span>$329</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="shop-wrap mb-35">
                                            <div class="shop-img">
                                                <a href="#">
                                                    <img src="../img/product/product.jpg" alt="">
                                                </a>
                                                <div class="shop-hover">
                                                    <div class="shop-card">
                                                        <a href="#" title="Add To Cart">Ajouter au panier <i
                                                                    class="ti-shopping-cart"></i></a>
                                                    </div>
                                                    <div class="shop-wishlist">
                                                        <a title="Wishlist" href="#"><i class="ti-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-content">
                                                <div class="shop-name">
                                                    <h4><a href="#">Product Name</a></h4>
                                                </div>
                                                <div class="shop-price">
                                                    <span>$329</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="shop-wrap mb-35">
                                            <div class="shop-img">
                                                <a href="#">
                                                    <img src="../img/product/product.jpg" alt="">
                                                </a>
                                                <div class="shop-hover">
                                                    <div class="shop-card">
                                                        <a href="#" title="Add To Cart">Ajouter au panier <i
                                                                    class="ti-shopping-cart"></i></a>
                                                    </div>
                                                    <div class="shop-wishlist">
                                                        <a title="Wishlist" href="#"><i class="ti-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="shop-content">
                                                <div class="shop-name">
                                                    <h4><a href="#">Product Name</a></h4>
                                                </div>
                                                <div class="shop-price">
                                                    <span>$329</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <div class="shortcode-accordion-wrap2">
                                    <div class="dropcap-title text-center mb-30">
                                        <h2>Service client</h2>
                                        <p>Les questions les plus fréquemment posées :</p>
                                    </div>
                                    <div class="panel-group sc-accordion-peragraph" id="accordion2">
                                        <div class="panel shortcode-accordion2 mb-5">
                                            <div class="panel-heading" id="shortcode-accordion-five">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion2"
                                                       href="#shortcode-accordion5">
                                                        Pourquoi n'ai-je pas reçu l'e-mail de confirmation d'envoi de ma
                                                        commande?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shortcode-accordion5" class="panel-collapse collapse show">
                                                <div class="panel-body">
                                                    <p>Une fois votre commande validée, nous avons besoin de 3 à 7 jours
                                                        ouvrables pour la préparer. ( la France métropolitaine n'est pas
                                                        conclue) Ce temps de traitement est nécessaire pour que tout se
                                                        déroule dans les meilleures conditions. Le délai de traitement
                                                        n'inclut pas le délai de transport de votre colis. En cas de
                                                        retard, nous vous informons par e-mail. Si vous ne recevez aucun
                                                        e-mail de notre part dans 15 jours suivant la validation de
                                                        votre commande, veuillez contacter notre service clientèle (via
                                                        notre chat en ligne ou en nous envoyant un message).</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel shortcode-accordion2 mb-5">
                                            <div class="panel-heading" id="shortcode-accordion-six">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#shortcode-accordion6">
                                                        Puis-je modifier mon adresse de livraison?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shortcode-accordion6" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Vous pouvez modifier non seulement votre adresse de livraison,
                                                        mais également la taille/la couleur d'un article ou encore
                                                        supprimer un article de votre commande. Pour ce faire, veuillez
                                                        contacter notre service clientèle (via le chat en ligne ou en
                                                        nous envoyant un message). Attention, nous pouvons uniquement
                                                        modifier votre commande AVANT l'expédition. Il sera trop tard
                                                        après l'expédition.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel shortcode-accordion2 mb-5">
                                            <div class="panel-heading" id="shortcode-accordion-seven">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#shortcode-accordion7">
                                                        Quelle est la procédure de retour?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shortcode-accordion7" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Nous sommes sincèrement navrés si vous n'êtes pas à 100%
                                                        satisfait(e) de vos articles. Vous pouvez nous les renvoyer dans
                                                        un délai de 60 jours suivant la date d'achat. 1. Si vous avez
                                                        payé les 1,99€ du « Retour premium », vous ne devrez payer aucun
                                                        frais additionnel pour nous renvoyer vos articles. Dans le cas
                                                        contraire, des frais de retour de 4,50€ seront déduits du
                                                        montant total de votre remboursement.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel shortcode-accordion2 mb-5">
                                            <div class="panel-heading" id="shortcode-accordion-eight">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#shortcode-accordion8">
                                                        Comment choisir ma taille?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shortcode-accordion8" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>La meilleure manière de choisir votre taille est de prendre vos
                                                        mesures et de les comparer au guide des tailles associé à chaque
                                                        article. La taille peut varier d'un article à un autre. Grâce à
                                                        ce guide, vous êtes toujours certain(e) de faire le bon choix.
                                                        Attention, "taille unique" ne signifie pas que la taille
                                                        convient à tout le monde. Cela signifie que ce produit est
                                                        disponible en une seule taille.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel shortcode-accordion2 mb-5">
                                            <div class="panel-heading" id="shortcode-accordion-nine">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#shortcode-accordion9">
                                                        Commander sur votre site est-il à 100% sécurisé?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shortcode-accordion9" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Les données personnelles que vous nous fournissez sur notre site
                                                        Web sont protégées de toute utilisation frauduleuse grâce à un
                                                        système de sécurité rigoureux. Nous faisons partie de
                                                        l'organisation à but non lucratif Better Business Bureau (BBB),
                                                        dont l'objectif est d'assurer des transactions justes et
                                                        équitables entre les consommateurs et les entreprises.
                                                        Nous utilisons également la technologie SSL (Secure Socket
                                                        Layer) grâce à laquelle toutes les informations fournies sur
                                                        notre site Web sont conservées dans un environnement protégé et
                                                        sécurisé. Ces données ne seront en aucun cas divulguées à une
                                                        tierce partie.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel shortcode-accordion2 mb-5">
                                            <div class="panel-heading" id="shortcode-accordion-ten">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#shortcode-accordion10">
                                                        Mes données personnelles sont-elles enregistrées sur le site?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="shortcode-accordion10" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Nous accordons une importance capitale au respect de votre vie
                                                        privée et à la confidentialité de vos données personnelles.
                                                        Lorsque vous naviguez sur notre site, les informations récoltées
                                                        sont stockées par notre système, notamment votre nom, votre
                                                        numéro de téléphone, votre code postal ou encore votre adresse.
                                                        Nous pouvons avoir recours aux cookies pour reconnaître votre
                                                        adresse IP et vous fournir ainsi un accès plus rapide à notre
                                                        site. Vous pouvez limiter l'utilisation des cookies en modifiant
                                                        les paramètres de votre navigateur. Sachez néanmoins que cela
                                                        peut limiter votre accès à notre site.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-area contact-area-mrg">
                                        <div class="container-fluid pl-125">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="contact-info-area pt-100 pr-40">
                                                        <h4>Contactez le service client</h4>
                                                        <p>Si votre question n'apparait dans la liste, merci de prendre
                                                            contact avec le service client.</p>
                                                        <div class="contact-from pt-40">
                                                            <form id="contact-form">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <input name="name" type="text"
                                                                               placeholder="Nom">
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <input name="email" type="text"
                                                                               placeholder="Email">
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-12">
                                                                        <input name="subject" type="text"
                                                                               placeholder="Sujet">
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-12">
                                                                        <textarea name="message"
                                                                                  placeholder="Votre message"></textarea>
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-12">
                                                                        <input class="submit" type="submit"
                                                                               value="Envoyer">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <p class="form-messege"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
