<h1>[ TEST ] Envoi de mail via le formulaire</h1>

<div>
    {{ form_start(form) }}
    <div class="form">
        {{form_widget(form)}}
    </div>
    <div>
        <button type="submit">Envoyer</button>
    </div>
    {{ form_end(form) }}
</div>